@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as v;
@use "../../abstracts/colors" as c;
@use "../../base/breakpoints" as b;

.todo-header {
  margin-top: calc(v.$elements-spacing * 2);
  @include flex(row, space-between, center);

  & > h1 {
    font-size: 2em;
    line-height: 1;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: c.$very-light-gray-LIGHT_THEME;
    @media screen and (width > b.$mobile) {
      font-size: clamp(2.25rem, calc(-1.47rem + 7.76vw), 3.38rem);
    }
  }

  & > button {
    transition: v.$main-transition;

    &:hover {
      opacity: 0.5;
    }
  }

  @media screen and (width > b.$mobile) {
    margin-top: calc(v.$elements-spacing * 4);
  }
}
