@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as v;
@use "../../abstracts/colors" as c;
@use "../../base/breakpoints" as b;

.todo-header {
  margin-top: calc(v.$elements-spacing * 2);
  @include flex(row, space-between, center);

  & > h1 {
    font-size: 2em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: c.$very-light-gray-LIGHT_THEME;
  }

  & > button {
    transition: v.$main-transition;

    &:hover {
      opacity: 0.5;
    }
  }

  @media screen and (width > b.$mobile) {
    margin-top: calc(v.$elements-spacing * 4);
  }
}
