@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.todo-wrapper {
  padding: v.$elements-spacing;
  @include flex(row, space-between, center);
  gap: v.$elements-spacing;
  border-bottom: func.rem(1) solid var(--border-color);
  cursor: all-scroll;
  transition: v.$main-transition;
  opacity: 0;
  visibility: hidden;
  animation: showNewTodo v.$todoList-animation-time ease-in forwards;

  &:last-of-type {
    border-bottom: none;
  }

  & button {
    transition: v.$main-transition;
    padding: 0.25em;
  }

  & label {
    padding-left: v.$elements-spacing;
  }

  @media screen and (width <= b.$mobile) {
    & button {
      color: var(--delete-btn);

      &:hover {
        opacity: 0.5;
      }
    }
  }

  @media screen and (width > b.$mobile) {
    color: transparent;
    &:where(:hover, :focus-within) button {
      color: var(--delete-btn);
    }
  }
}

.drag-over {
  & > * {
    opacity: 0.25;
  }
}

@keyframes showNewTodo {
  from {
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
