@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.todo-input-checkbox {
  position: relative;
  appearance: none;
  width: v.$checkbox-size;
  height: v.$checkbox-size;
  cursor: pointer;
  flex-shrink: 0;
  isolation: isolate;
  z-index: 0;

  &::before {
    position: absolute;
    content: "\2713";
    inset: 0;
    background: var(--background-task-color);
    border: func.rem(1) solid var(--border-color);
    border-radius: 50%;
    color: transparent;
    text-indent: calc(0.25em + func.em(1));
    transition: v.$main-transition;
    z-index: 1;
  }

  &:where(:hover, :focus-visible):not(:checked):before {
    border-color: transparent;
  }

  &:checked::before {
    background: c.$check-background;
    color: c.$very-light-gray-LIGHT_THEME;
  }

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + func.em(2));
    height: calc(100% + func.em(2));
    translate: func.em(-1) func.em(-1);
    background: var(--background-task-color);
    border-radius: 50%;
    transition: v.$main-transition;
    z-index: -1;
  }

  &:where(:hover, :focus-visible):not(:checked)::after {
    background: c.$check-background;
  }

  &:checked::after {
    background: initial;
  }

  & + label {
    position: relative;
    color: var(--text-task-color);
    cursor: pointer;
    transition: v.$main-transition;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &:checked + label {
    color: var(--text-task-complete-color);
    text-decoration: line-through;
  }
}
