@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/breakpoints" as b;

.todos-navigation {
  @include flex(row, center, center);
  gap: 1em;
  font-weight: bold;
  color: var(--link-default);

  & .active {
    color: c.$bright-blue;
  }

  @media screen and (width <= b.$mobile) {
    margin-block: v.$elements-spacing;
    padding: v.$elements-spacing;
  }
}
