@use "./breakpoints" as b;
@use "../abstracts/colors" as c;

body {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;

  @media screen and (width > b.$mobile) {
    background-image: url("/images/bg-desktop-light.jpg");

    @media (prefers-color-scheme: dark) {
      background-image: url("/images/bg-desktop-dark.jpg");
    }
  }

  @media screen and (width <= b.$mobile) {
    background-image: url("/images/bg-mobile-light.jpg");

    @media (prefers-color-scheme: dark) {
      background-image: url("/images/bg-mobile-dark.jpg");
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: c.$very-light-grayish-blue-LIGHT_THEME;
  }

  @media (prefers-color-scheme: dark) {
    background-color: c.$very-dark-blue-DARK_THEME;
  }

  // Light Theme
  &[data-theme="light"] {
    background-color: c.$very-light-grayish-blue-LIGHT_THEME;

    @media screen and (width > b.$mobile) {
      background-image: url("/images/bg-desktop-light.jpg");
    }

    @media screen and (width <= b.$mobile) {
      background-image: url("/images/bg-mobile-light.jpg");
    }
  }

  // Dark Theme
  &[data-theme="dark"] {
    background-color: c.$very-dark-blue-DARK_THEME;

    @media screen and (width > b.$mobile) {
      background-image: url("/images/bg-desktop-dark.jpg");
    }

    @media screen and (width <= b.$mobile) {
      background-image: url("/images/bg-mobile-dark.jpg");
    }
  }
}
